*,
:after,
:before{
	box-sizing:inherit;
}

html{
	box-sizing: border-box;
}
// global styles
body {
    font-family: $font-family-system;
	background: $color-nav-bg;
}

main{
	@include bp(sm){
    	margin-top: $margin-top-nav--sm;
    	display: grid;
    	grid-template-columns: 1fr 1fr;
    }
}