// global styles

body{
	  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

// option selection area
.option-wrapper{
	display:flex;
	flex: 0 1 1;
	flex-wrap: wrap;
}


// typography examples
.example{
	h1,
	h2,
	h3,
	h4{
		font-family: var(--font-family-headings);
		font-weight: var(--font-weight-headings);
	}
	label{
		font-family: var(--font-family-labels);
		font-weight: var(--font-weight-labels);
	}
	p{
		font-family: var(--font-family-body);
		font-weight: var(--font-weight-body);
	}
}
