// sass vars
$border-radius: 3px;
$color-primary: #0959ED;
$color-nav-bg: #fafafa;
$color-pill--inactive: #fff;
$color-text--light: rgba(white, .9);
$color-text--dark: rgba(black, .9);
$font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$margin-top-nav--sm: 420px;

// dependent
$gradient-pill--active: linear-gradient( 225deg, $color-primary 0%, darken($color-primary,5%) 100%);

// css vars
:root{
	--font-family-headings: $font-family-system;
	--font-family-labels: $font-family-system;
	--font-family-body: $font-family-system;
	--font-weight-headings: 700;
	--font-weight-labels: 700;
	--font-weight-body: 400;
	--font-size-body: 16px;
}